@import "tailwindcss";

@layer base {
  html {
    font-family: 'Roboto', 'Arial', sans-serif;
  }

  body {
    @apply bg-gray-light;
  }
}
@theme {
  --color-primary: #FF6154;
  --color-secondary: #FFF3ED;
  --color-gray-dark: #111828;
  --color-gray-medium: #334053;
  --color-gray-light: #E9ECF0;
}

@layer components {
  .tabs {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
  .tab {
    @apply text-gray-dark;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: color 0.2s ease;
  }
  .tab::after {
    @apply bg-primary;
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.2s ease;
  }
  .tab:hover {
    @apply text-primary;
  }
  .tab:hover::after {
    transform: scaleX(0.3);
  }
  .tab.active {
    @apply text-primary;
  }
  .tab.active::after {
    transform: scaleX(1);
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid;
    @apply border-gray-medium;
    cursor: pointer;
    width: 100%;
    font-size: 0.875rem;
  }
  .button:focus, .button:hover {
    border: 1px solid;
    @apply border-primary;
  }
  .input {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-text-secondary);
    width: 100%;
    cursor: pointer;
    font-size: 0.875rem;
  }
  .input:focus, .input:hover {
    border: 1px solid;
    @apply border-primary;
    outline: none;
  }
}

@layer utilities {
  .separator {
    border-bottom: 1px solid;
    @apply border-gray-light;
  }
  .text-secondary {
    color: var(--color-text-secondary);
  }
  .loading-spinner {
    animation: spin 1s linear infinite;
  }
}


